
body {
  display: grid;
  grid-template-rows: 150px 450px 1fr;
  grid-template-areas: 
  'header'
  'top'
  'bottom';

}
.body-input {
  width: 507px;
  height: 150px;
  box-sizing: border-box;
}

.bottom-section {
  background-color: red;
  grid-area: bottom;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;

}

header {
  background-color: #524649;
  font-size: 20px;
  grid-area: header;
}

.title {
  justify-content: flex-start;
  float: left;
}

.title-input {
  width: 507px;
  box-sizing: border-box;
}

.top-section {
  display: flex;
  justify-content: center;
  grid-area: top; 
  background-color: #EAEAEA;
}

.save-button {
  display: block;
  margin-top: 20px;
  width: 507px;
  background-color: #6e646b;
  color: #ffffff;
}

.search-box {
  display: flex;
  float: right;
  height: 30px;
  margin-top: 2em;
  margin-right: 100px;
}

.search-button {
  margin: 0;
  padding: 0;
}

.search-text {
  margin: 0;
  padding: 0;
  width: 150px;
}

span {
  color: white;
}

.title-and-body, p{
  font-size: 30px;
}

.card-display{
  
  border: 2px solid black;
  width: 30%;
  justify-content: center;
  box-sizing: border-box;

}

.card-text{
  font-size: 20px;
}

.down-menu{
  display: inline-block;
  width: 30%;
}

.btn{
  display: inline-block;
  /*height: 40px;
  width: 40px;*/
  /*border-radius: 60px;*/
 /* border: none;*/
  /*padding: 10px;*/
}

.card-text{
  margin-right: 80px;
  margin-left: 30px;
}

.fa-minus-circle{
  z-index: -1;
}








